{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="container">
    <div class="row text-center text-secondary">
      <div class="col-md-12">
          <br>
        <h2 class="display-4">{{album.name}}</h2>
        <h4 class="text-secondary">by <a href="{% url 'artist_info' album.artist.id %}">{{ album.artist.name }} </a></h4>
        <hr>
      </div>
    </div>
</div>

<div class="container">

    {% for song in album.song_set.all %}
    
    <div class="col-md-12 m-auto">
        <div class="card mb-1">
            <div class="card-body">
                {% if user.is_authenticated %}
                    <a href="#" class="float-left" title="Remove from favourites"> <i class="fas fa-heart text-secondary"></i></a>
                {% endif %}
                <div class="row">
                    <a href="{% url 'song_info' song.id %}" class="col-12 text-center"> 
                        <strong>{{song.name}}</strong>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>    
    {% endfor %}

</div>

  
{% endblock %}