{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
            <br>
          <h2 class="display-4">Your Favourite Songs</h2>
          <hr>
        </div>
      </div>
    </div>
 
    <div class="container">
        <div class="col-md-12 m-auto">
            <div class="card mb-1">
                <div class="card-body">
                    <a href="#" class="float-left" title="Remove from favourites"> <i class="fas fa-heart text-secondary"></i></a>
                    <div class="row">
                        <div class="col-4"> <strong>Name</strong></div>
                        <div class="col-4 text-center"> <strong>Artist</strong></div>
                        <div class="col-4 text-center"> <strong>Album</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}

{% endif %}

{% endblock %}