<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDS Music Library</title>
</head>
<body>
    <!-- Navbar -->
    {% include 'partials/_navbar.html' %}

    <!-- Main Content -->

    {% block content %} {% endblock %}

    <!-- Footer -->
    {% include 'partials/_footer.html' %}
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    
</body>
</html>