{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<!-- Alerts! -->
{% include 'partials/_alerts.html' %}

<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            <i class="fas fa-music text-secondary"></i> Search DDS Music Library <i class="fas fa-headphones-alt text-secondary"></i> 
          </h1>
          <p class="lead">Each memory has a soundtrack of it's own. So search away!</p>
          <div class="search">
            <form action="{% url 'search_song' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control centered" placeholder="Title of the song (e.g. Castle on the Hill, Circles)">
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <!-- albums -->
  <section id="albums" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Latest Albums</h3>
      <div class="row">
        {% if albums %}
            {% for album in albums %}
                <!-- Album -->
                <div class="col-md-6 col-lg-4 mb-4">
                  <div class="card album-preview">
                    <img class="card-img-top" src="{{ album.album_cover.url }}" alt="">
                    <div class="card-body">
                      <div class="album-heading text-center">
                        <h4 class="text-primary"> {{ album.name }}  </h4>
                        <p>
                        <i class="fas fa-user-astronaut text-secondary"></i> <a href="{% url 'artist_info' album.artist.id %}">{{ album.artist.name }}</a>  </p>
                      </div>
                      <hr>
                      <div class="row py-2 text-secondary">
                        <div class="col-6">
                            <i class="fas fa-compact-disc"></i> {{ album.genre }} </div>
                      </div>
                      <div class="row text-secondary pb-2">
                        <div class="col-12">
                          <i class="fas fa-clock"></i> Released {{ album.date_published | timesince }}</div>
                      </div>
                      <hr>
                      <a href="{% url 'album_info' album.id %}" class="btn btn-primary btn-block">More Info</a>
                    </div>
                  </div>
                </div>
            {% endfor %}
        {% else %}
        No Albums available
        {% endif %}
      </div>
  </div>
  
  </section>


{% endblock %}
