{% extends 'base.html' %}

{% block content %}
<!-- albums -->
<section id="albums" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Albums of {{ artist.name }}</h3>
      <div class="row">
        {% for album in artist.album_set.all %}
            <!-- Album -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card album-preview">
                <img class="card-img-top" src="{{ album.album_cover.url }}" alt="">
                <div class="card-body">
                    <div class="album-heading text-center">
                    <h4 class="text-primary"> {{ album.name }}  </h4>
                    <p>
                    <i class="fas fa-user-astronaut text-secondary"></i> <a href="{% url 'artist_info' album.artist.id %}">{{ album.artist.name }}</a>  </p>
                    </div>
                    <hr>
                    <div class="row py-2 text-secondary">
                    <div class="col-6">
                        <i class="fas fa-compact-disc"></i> {{ album.genre }} </div>
                    </div>
                    <div class="row text-secondary pb-2">
                    <div class="col-12">
                        <i class="fas fa-clock"></i> Released {{ album.date_published | timesince }}</div>
                    </div>
                    <hr>
                    <a href="{% url 'album_info' album.id%}" class="btn btn-primary btn-block">More Info</a>
                </div>
                </div>
            </div>
        {% endfor %}
      </div>
  </div>
  
  </section>
{% endblock %}