{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row text-center text-secondary">
      <div class="col-md-12">
        <br>
        <i class="fas fa-music text-secondary"></i> 
        <h2 class="display-4"><strong>{{song.name}}</strong> </h2>
        <hr>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-lg-4 mb-4"></div>
    <div class="col-md-4 col-lg-4 mb-4">
        <div class="card album-preview">
            <br>
            <p class="text-center">
                <audio controls>
                    <source src="{{ song.file.url }}" type="audio/mpeg">
                </audio>
            </p>
            <div class="card-body">
                <div class="album-heading text-center">
                <h4 class="text-primary"> {{ song.album.name }}  </h4>
                <p>
                    <i class="fas fa-user-astronaut text-secondary"></i> <a href="{% url 'artist_info' song.album.artist.id %}">{{ song.album.artist.name }}</a>
                </p>
                
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                <div class="col-6">
                    <i class="fas fa-compact-disc"></i> {{ song.album.genre }} </div>
                </div>
                <div class="row text-secondary pb-2">
                <div class="col-12">
                    <i class="fas fa-clock"></i> Released {{ song.album.date_published | timesince }}</div>
                </div>
                <hr>
                <a href="{% url 'album_info' song.album.id %}" class="btn btn-primary btn-block">Go to Album</a>
            </div>
            <img class="card-img-top" src="{{ song.album.album_cover.url }}" alt="">
        </div>
    </div>

</div>


{% endblock %}


