{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li class="nav-item mr-3 active">
            <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-music text-secondary"></i><strong>  DDS Music Library</strong></a>
          </li>

          <li
            {% if '/' == request.path %}
            class="nav-item active mr-3"
            {% else %}
            class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          
          <li
            {% if 'about' in request.path %}
            class="nav-item active mr-3"
            {% else %}
            class="nav-item mr-3"
            {% endif %}
          >
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
              <li 
                {% if 'register' in request.path %}
                  class="nav-item active mr-3"
                {% else %}
                  class="nav-item mr-3"
                {% endif %}
              >
                <a class="nav-link" href="{% url 'dashboard' %}">
                  <i class="fas fa-user-plus"></i> <strong>Welcome, {{ user.username }}</strong> | [ Dashboard ]</a>
              </li>

              <li class="nav-item mr-3">
                <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                  <i class="fas fa-sign-out-alt"></i> Logout
                </a>
              </li>
              <form action="{% url 'logout' %}" id="logout" method="POST">
                {% csrf_token %}
                <input type="hidden">
              </form>
          {% else %}  
              <li 
                {% if 'register' in request.path %}
                  class="nav-item active mr-3"
                {% else %}
                  class="nav-item mr-3"
                {% endif %}
              >
                <a class="nav-link" href="{% url 'register' %}">
                  <i class="fas fa-user-plus"></i> Register</a>
              </li>
              <li 
                {% if 'login' in request.path %}
                  class="nav-item active mr-3"
                {% else %}
                  class="nav-item mr-3"
                {% endif %}
              >
                <a class="nav-link" href="{% url 'login' %}">
                  <i class="fas fa-sign-in-alt"></i>

                  Login</a>
              </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>